header{
    background-color: black;
}
header a{    
    margin: 127px;
    padding: 0;
    border: 0;
    color: antiquewhite;
    font-size: 200%;
}
header h1{
    color: red;
    text-align: center;
    font-size: 600%;
}