.header{
    /* position: absolute; */
}

.logo{
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.menu{
    list-style: none;
    text-align: center;
}

li {
    width: 100px;
    height:36px;
    line-height:36px;
    text-align: center;
    display:inline-block;
}

h2{
    text-align: center;
}

li:hover {
    background-color:red;
    cursor: pointer
}

.footer{
    text-align: center;
}